.portfolio {
    padding-top: 120px;
    &__wrapper {
        margin-top: 60px;
        padding: 0 3px 0 2px;
        display: grid;
        grid-template: repeat(2, 280px) / repeat(4, 1fr);
        grid-gap: 5px;
        .vertical {
            grid-area: 1 / 4 / 3 / 5;
        }
        .horizontal {
            grid-area: 2 / 2 / 3 / 4;
        }
    }
    &__item {
        transition: all .6s;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover {
            filter: opacity(50%);
            transform: scale(0.96);
        }
    }
}