.sidepanel {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    height: 24px;
    top: 210px;
    left: -140px;
    z-index: 3;
    transform: rotate(-90deg) translateX(-50%);
    &__divider {
        width: 70px;
        height: 2px;
        background-color: #000000;
    }
    &__text {
        height: 24px;
        width: 150px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
    &__link {
        transition: all .3s;
        color: #000000;
        width: 20px;
        height: 20px;
        span {
            font-size: 20px;
            text-decoration: none;
        }
        &:hover {
            transform: scale(1.5);
            text-decoration: none;
            color: $main-color;
        }
    }
}