.skills {
    padding-top: 120px;
    &__divider {
        margin-top: 22px;
    }
    &__items {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, minmax(270px, auto)) / repeat(auto-fill, 270px);
        grid-auto-rows: minmax(270px, auto);
        grid-gap: 13px;
        justify-content: center;
    }
    &__item {
        border: 1px solid #000000;
        padding: 30px 30px 25px 30px;
        &-img {
            display: flex;
            align-items: center;
            min-height: 65px;
            
        }
        h3 {
            margin-top: 20px;
        }
        p {
            margin-top: 15px;
            margin-bottom: 0;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__ratings {
        margin-top: 120px;
        display: grid;
        grid-template: repeat(2, minmax(70px, auto)) / repeat(auto-fill, 350px);
        grid-auto-rows: minmax(70px, auto);
        grid-gap: 30px 45px;
        &-item {
            display: grid;
            grid-template: minmax(21px, auto) 14px / 200px 35px;
            justify-content: space-between;
            align-content: space-between;
        }
        &-title {
            position: relative;
            padding-left: 13px;
            @include before_circle;
            &:before {
                top: -8px;
            }
        }
        &-counter {
            font-size: 14px;
            line-height: 21px;
        }
        &-line {
            width: 100%;
            height: 14px;
            background-color: #E8E4DE;
            border-radius: 4px;
            grid-column: 1 / 3;
            span {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                background-color: $main-color;
            }
        }
    }
}